Rack_it_Up/OnProjectTraining/MarshallingUnmarshallingXML/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Email"/>
        <xs:element ref="Phone"/>
        <xs:element ref="Address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Email" type="xs:string"/>
  <xs:element name="Phone" type="xs:string"/>
  <xs:element name="Address" type="xs:string"/>
</xs:schema>
